[run]
omit =
    # omit anything in a .local directory anywhere
    #*/.local/*

    # omit all test files
    */test*

    # omit everything in /usr
    #/usr/*

    # omit single files
    clickgestion/settings/development.py
    manage.py
    django_setup.py
