{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">

    <p style="margin-top:40px"></p>

    <!--Cash Balance-->
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" scope="col">{% trans 'Cash Balance' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for value in totals %}
        <tr>
          <th scope="row">{{ value.currency.name }}</th>
            <td></td>
            <td></td>
          <td>
              {% include 'transactions/value_total.html' %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <!--Breakdown by concept type-->
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th colspan="4" scope="col">{% trans 'Breakdown By Concept Type' %}</th>
        </tr>
      </thead>
    </table>
    {% for group in breakdown %}
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th colspan="4" scope="col">{{ group.type }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th rowspan="{{ group.totals|length }}" scope="row"></th>
            <td>{{ group.concept_count }}</td>
            <td></td>
        </tr>
        {% for value in group.totals %}
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                  {% include 'transactions/value_total.html' %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}





</div>
{% endblock %}

