{% load i18n %}
<tr>
    <!--CODE-->
    <th>
        <button class="btn btn-link text-dark" type="button" data-toggle="modal" data-target="#{{ concept.transaction.code}}">
            {{ concept.code }}
        </button>
        <!--Transaction Modal-->
        <div class="modal" id="{{concept.transaction.code}}">
            <div class="modal-dialog modal-lg" style="overflow-x: auto; max-width: 23cm;">
                <div class="modal-content" style="overflow-x: auto; max-width: 23cm;">

                    <!-- Modal Header -->
                    <div class="modal-header" style="overflow-x: auto; max-width: 23cm;">
                        <h4 class="modal-title">{{ transaction.code }}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="overflow-x: auto; max-width: 23cm;">
                        <div class="row justify-content-center">
                            {% with concept.transaction as transaction %}
                            {% include 'transactions/invoice.html' %}
                            {% endwith %}
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <!--<div class="modal-footer" style="overflow-x: auto; max-width: 23cm;">-->
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </th>

    <!--NAME-->
    <td>{{ concept.name|default_if_none:"&nbsp;" }}</td>

    <!--DESCRIPTION-->
    <td>{{ concept.description_short|default_if_none:"&nbsp;" }}</td>

    <!--DATE-->
    <td>{{ concept.transaction.closed_date|default_if_none:"&nbsp;" }}</td>

    <!--VALUE-->
    <td>
        <div class="col text-right justify-content-end">
            {% with concept.value as value %}{% include 'transactions/value_sm.html' %}{% endwith %}
        </div>
    </td>
</tr>
