<li class="list-group-item clearfix list-group-item-dark">
    <a class="h4" href="concept.data.url"
       title="concept.description_long"
       data-toggle="popover" data-trigger="hover"
       data-content="{{ datacontent }}">
        {{ concept.description_short }}
    </a>
    <span class='pull-right button-group'>
				<a href="{{ concept.data.url }}/edit/"
                   class='btn btn-default'>
					<span class='glyphicon glyphicon-edit'/>
				</a>
				<a href="{{ concept.data.url }}/delete/"
                   class="btn btn-danger" role="button">
					<span class='glyphicon glyphicon-remove'/>
				</a>
			</span>

</li>
