{% load i18n humanize static %}
<div class="border p-4">
<div class="container-fluid">

    <!--Header-->
    <div class="row">
        <div class="col p-0">
            <img src="{% static 'core/img/clickbenidormlogo1.png' %}">
        </div>
        <div class="row justify-content-end">
            <div class="col text-right">
                <h3><strong>{% trans 'Invoice' %}</strong></h3>
            </div>
        </div>
    </div>
    <p></p>

    <!--First Data Row-->
    <div class="row my-4">

        <!--Left-->
        <div class="col">
            <div class="row">
                <strong>
                    {{ transaction.client }}
                </strong>
            </div>
            <div class="row">
                {{ transaction.client_email }}
            </div>
            <div class="row">
                {{ transaction.client_phone_number }}
            </div>
            <div class="row">
                {{ transaction.client_address|linebreaks }}
            </div>
            <div class="row">
            </div>
        </div>

        <!--Right-->
        <div class="row justify-content-end">
            <div class="col text-right">
                <h6><strong>{{ transaction.code }}</strong></h6>
                <h6>{{ transaction.closed_date }}</h6>
                <h6>{{ transaction.employee.get_full_name }}</h6>
            </div>
        </div>
    </div>

    <p></p>

    <!--Concept Table-->
    <div class="row my-4">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th colspan="3">{% trans 'Concepts' %}</th>
            <th>{% trans 'Taxable' %}</th>
            <th>{% trans 'Rate' %}</th>
            <th>{% trans 'Tax' %}</th>
            <th>{% trans 'Total' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for concept in transaction.concepts.all %}
        <tr>
            <td colspan="3">{{ concept.data.description_short }}</td>
            <td>{{ concept.data.taxable_amount|floatformat:2|intcomma }}</td>
            <td>{{ concept.data.settings.vat_percent }}%</td>
            <td>{{ concept.data.tax_amount|floatformat:2|intcomma }}</td>
            <td>
                {% with concept.data.value as value %}
                {% include 'transactions/value_md.html' %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
        <thead class="thead-light">
        <tr>
            <th colspan="7">{% trans 'Totals' %}</th>
        </tr>
        </thead>
        {% for value in transaction.totals %}
        <tr>
            <td colspan="3"></td>
            <td colspan="2">{% trans 'Total' %} {{ value.currency.name }}</td>
            <td colspan="2">
                {% include 'transactions/value_bold_md.html' %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <!--Thank you-->
    <div class="row justify-content-center my-5">
        <h5>{% trans 'Thank You' %}</h5>
    </div>
</div>
</div>
