{% load i18n %}
<div class="border p-4">
<div class="container-fluid">

    <!--Header-->
    <div class="row">
        <h3><strong>{% trans 'Invoice' %}</strong></h3>
    </div>
    <p></p>

    <!--First Data Row-->
    <div class="row">

        <!--Left-->
        <div class="col">
            <div class="row">
                <strong>
                    {{ transaction.client }}
                </strong>
            </div>
            <div class="row">
                {{ transaction.client_email }}
            </div>
            <div class="row">
                {{ transaction.client_phone_number }}
            </div>
            <div class="row">
                {{ transaction.client_address|linebreaks }}
            </div>
            <div class="row">
            </div>
        </div>

        <!--Right-->
        <div class="row justify-content-end">
            <div class="col text-right">
                <h6><strong>{{ transaction.code }}</strong></h6>
                <h6>{{ transaction.closed_date }}</h6>
                <h6>{{ transaction.employee.get_full_name }}</h6>
            </div>
        </div>
    </div>

    <p></p>

    <!--Concept Table-->
    <div class="row">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>{% trans 'Concepts' %}</th>
            <th>{% trans 'Total' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for concept in transaction.concepts.all %}
        <tr>
            <td>{{ concept.data.description_short }}</td>
            <td>
                {% with concept.data.value as value %}
                {% include 'transactions/value_md.html' %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
        {% for value in transaction.totals %}
        <tr>
            <td>{% trans 'Total' %} {{ value.currency.name }}</td>
            <td>
                {% include 'transactions/value_bold_md.html' %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        <table class="table border">
            <thead class="thead-light">
            <tr>
                <th>Subtotal</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</div>
