{% load i18n %}
<li class="list-group-item">

    <div class="row align-items-center">

        <div class="col-sm-9 text-left">

            <p class="p text-dark"
               title="{{ transaction.description_long }}"
               data-toggle="popover" data-trigger="hover">
                <div class="row">
                    <!--Transaction -->
                    <div class="col-sm-3 text-left d-flex align-items-center">
                        <div class="container">
                            <div class="row">
                                {{ transaction.code }}
                            </div>
                            <div class="row">
                                <h6>
                                   <small>
                                       {% if transaction.apt_number %}
                                       {% trans 'Apt' %}: {{ transaction.apt_number }}
                                       {% endif %}
                                   </small>
                                </h6>
                            </div>
                            <div class="row">
                                <h6>
                                    <small>
                                        {{ transaction.client }}
                                    </small>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!--Transaction Concepts-->
                    <div class="col-sm-7 d-flex align-items-center">
                        {% if transaction.concepts.count %}
                        <div class="container">
                        {% for concept in transaction.concepts.all %}
                            <div class="row">
                                <div class="col justify-content-start">
                                    <h6 class="mr-2"><small>{{ concept.name }}</small></h6>
                                </div>
                                <div class="col text-right justify-content-end">
                                    {% with concept.value as value %}{% include 'concepts/value_sm.html' %}{% endwith %}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <!--Transaction Totals-->
                    <div class="col-sm-2 d-flex align-items-center">
                        {% if transaction.totals %}
                        <div class="container">
                            {% for value in transaction.totals %}
                            <div class="row justify-content-end">
                                {% include 'concepts/value_bold_sm.html' %}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </p>
        </div>

        <div class="col-sm-3 text-right">
            {% if transaction.closed %}
            <a href="/transactions/{{ transaction.code }}" class="btn btn-outline-secondary btn-sm" role="button">
                {% trans 'View' %}
            </a>

            {% else %}
            <a href="/transactions/{{ transaction.code }}/edit/" class="btn btn-outline-secondary btn-sm" role="button">
                {% trans 'Edit' %}
            </a>
            <a href="/transactions/{{ transaction.code }}/delete/" class="btn btn-outline-danger btn-sm" role="button">
                {% trans 'Delete' %}
            </a>
            {% endif %}
        </div>

    </div>

</li>
