{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

<h4>{% trans 'Transactions' %}</h4>

<div class="row">

    <!--Table-->
    <div class="col col-md-9">
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th>{% trans 'Reference' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Apt' %}</th>
                <th>{% trans 'Client' %}</th>
                <th>{% trans 'Concepts' %}</th>
                <th>{% trans 'Totals' %}</th>
                <th>{% trans 'View/Edit' %}</th>
            </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                {% include 'transactions/transaction_rowitem.html' %}
                {% endfor %}
            </tbody>
        </table>

        <p style="margin-top:20px"></p>

        {% if is_paginated %}
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
            {% include 'core/pagination.html' %}
            </div>
            <div class="col">
            </div>
        </div>
        {% endif %}
    </div>

    <!--Filter-->
    <div class="col col-md-3">

        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Open modal
        </button>

        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">{% trans 'Filter' %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                  <div class="container">
                      <form method="get">
                          {% crispy filter.form %}
                          <div class="row">
                              <div class="formColumn col-2"></div>
                              <div class="formColumn col-8">
                                  <button class="btn btn-secondary btn-block" type="submit">Search</button>
                              </div>
                              <div class="formColumn col-2"></div>
                          </div>
                      </form>
                  </div>
              </div>

              <!-- Modal footer -->
              <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
              <!--</div>-->

            </div>
          </div>
        </div>


    </div>
</div>
{% endblock %}
