{% load i18n %}
<tr>
    <!--CODE-->
    {% if transaction.closed %}
    <th>
        <button class="btn btn-link text-dark" type="button" data-toggle="modal" data-target="#{{transaction.code}}">
            {{ transaction.code }}
        </button>
        <!--Transaction Modal-->
        <div class="modal" id="{{transaction.code}}">
            <div class="modal-dialog modal-lg" style="overflow-x: auto; max-width: 23cm;">
                <div class="modal-content" style="overflow-x: auto; max-width: 23cm;">

                    <!-- Modal Header -->
                    <div class="modal-header" style="overflow-x: auto; max-width: 23cm;">
                        <!--Print button-->
                        <button type="submit" class="btn btn-sm btn-outline-secondary m-1" onclick='document.getElementById("id_print_transaction").value = "{{ transaction.code }}";form.submit();' title="{% trans 'Create PDF File' %}">
                            {% trans 'PDF' %}
                        </button>
                        <a class="btn btn-sm btn-outline-secondary m-1" onclick='printElement("print-{{ transaction.code }}");' title="{% trans 'Print' %}">
                            {% trans 'Print' %}
                        </a>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="overflow-x: auto; max-width: 23cm;">
                        <div class="row justify-content-center">
                            {% include 'transactions/invoice.html' %}
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <!--<div class="modal-footer" style="overflow-x: auto; max-width: 23cm;">-->
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </th>
    {% else %}
    <th>
        <div class="row">
            <div class="col-8">
                <a class="text-muted" href="/transactions/{{ transaction.code }}/edit/">
                    {{ transaction.code|default_if_none:"&nbsp;" }}
                </a>
            </div>
            <div class="col-4">
                <a class="badge badge-danger ml-2" href="/transactions/{{ transaction.code }}/delete/">
                    {% trans 'Delete' %}
                </a>
            </div>
        </div>
    </th>
    {% endif %}

    <!--CASH CLOSE-->
    <td>
        {% if transaction.cashclose %}
        <button class="btn btn-link text-dark" type="button" data-toggle="modal" data-target="#{{transaction.cashclose.code}}">
            {{ transaction.cashclose.code }}
        </button>
        <!--Transaction Modal-->
        <div class="modal" id="{{transaction.cashclose.code}}">
            <div class="modal-dialog modal-lg" style="overflow-x: auto; max-width: 23cm;">
                <div class="modal-content" style="overflow-x: auto; max-width: 23cm;">

                    <!-- Modal Header -->
                    <div class="modal-header" style="overflow-x: auto; max-width: 23cm;">
                        <!--Print button-->
                        <button type="submit" class="btn btn-sm btn-outline-secondary m-1" onclick='document.getElementById("id_print_cashclose").value = "{{ transaction.cashclose.code }}";form.submit();' title="{% trans 'Create PDF File' %}">
                            {% trans 'PDF' %}
                        </button>
                        <a class="btn btn-sm btn-outline-secondary m-1" onclick='printElement("print-{{ transaction.cashclose.code }}");' title="{% trans 'Print' %}">
                            {% trans 'Print' %}
                        </a>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="overflow-x: auto; max-width: 23cm;">
                        <div class="row justify-content-center">
                            {% with transaction.cashclose as cashclose %}
                            {% include 'cash_desk/cashclose.html' %}
                            {% endwith %}
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <!--<div class="modal-footer" style="overflow-x: auto; max-width: 23cm;">-->
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
        {% endif %}
    </td>

    <!--DATE-->
    <td>{{ transaction.closed_date|default_if_none:"&nbsp;" }}</td>

    <!--APT NUMBER-->
    <td>{{ transaction.apt_number|default_if_none:"&nbsp;" }}</td>

    <!--CLIENT-->
    <td>{{ transaction.client|default_if_none:"&nbsp;" }}</td>

    <!--CONCEPTS-->
    <td>
        {% if transaction.concepts.exists %}
        <div class="container">
            {% for concept in transaction.concepts.all %}
            <div class="row">
                <div class="col justify-content-start">
                    <!-- Button to Open The Filter -->
                    <button class="btn btn-link text-dark" type="button" data-toggle="modal" data-target="#{{ concept.code }}">
                        <small>
                            {{ concept.name }}
                        </small>
                    </button>
                </div>
                <div class="col text-right justify-content-end">
                    {% with concept.value as value %}{% include 'transactions/value_sm.html' %}{% endwith %}
                </div>
            </div>


            <!--Concept Modal-->
            <div class="modal" id="{{ concept.code }}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">{{ concept.name }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="container">
                                {{ concept.description_short }}
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        {% endif %}
    </td>

    <td>
        {% if transaction.totals %}
        <div class="container">
            {% for value in transaction.totals %}
            <div class="row justify-content-end">
                {% include 'transactions/value_bold_sm.html' %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </td>
</tr>
