{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">

    <p style="margin-top:20px"></p>
    <h4>{% trans 'Transaction' %} {{ transaction.code }}</h4>
    <p style="margin-top:20px"></p>
    <form method="post" novalidate>
        <ul class="list-group">
        {% for concept in transaction.concepts.all %}
            <li class="list-group-item">
                <div class="row align-items-center">

                    <div class="col-sm-8 text-left">
                        {{ concept.description_short }}
                    </div>

                    <div class="col-sm-4">
                        <div class="text-right">
                            {% with concept.value as value %}
                            {% include 'concepts/value_md.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
            <li class="list-group-item">

                <div class="row align-items-center">

                    <div class="col-sm-8 text-left">
                        <b>{% trans 'Total: ' %}</b>
                    </div>

                    <div class="col-sm-4 align-middle text-right align-self-end">
                        <div class="container">
                            {% for value in transaction.totals %}
                            <div class="row justify-content-end">
                                {% include 'concepts/value_bold_md.html' %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </li>
        </ul>

        <p class="mt-4"></p>
        <p class="mt-4"></p>
        <p class="mt-4"></p>

        {% crispy form %}

        <p class="mt-4"></p>
        <p class="mt-4"></p>
        <p class="mt-4"></p>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success btn-block" title="{% trans 'Confirm and close this transaction' %}" onclick='document.getElementById("id_confirm_button").value = "True";form.submit();'>{% trans 'Confirm' %}</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-block" title="{% trans 'Go back to edit concepts' %}" onclick="window.history.back();return false;">{% trans 'Back' %}</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary btn-block" title="{% trans 'Finish this transaction later' %}" onclick="document.getElementById('id_save_button').value = 'True';form.submit();">{% trans 'Save' %}</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-danger btn-block" title="{% trans 'Cancel this transaction and delete all data' %}" onclick="document.getElementById('id_cancel_button').value = 'True';form.submit();">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
