{% extends 'core/document_a4.html' %}
{% load i18n humanize static %}

{% block document_header_title %}
<h3><strong>{{ transaction.title }}</strong></h3>
{% endblock %}

{% block document_body_top_left %}
<!--Top Left-->
<div class="col">
    <div class="row">
        <strong>
            {{ transaction.client|default_if_none:"&nbsp;" }}
        </strong>
    </div>
    <div class="row">
        {{ transaction.client_email|default_if_none:"&nbsp;" }}
    </div>
    <div class="row">
        {{ transaction.client_phone_number|default_if_none:"&nbsp;" }}
    </div>
    <div class="row">
        {{ transaction.client_address|default_if_none:"&nbsp;"|linebreaks}}
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}

{% block document_body_top_right %}
<!--Top Right-->
<div class="row justify-content-end">
    <div class="col text-right">
        <h6><strong>{{ transaction.code }}</strong></h6>
        <h6>{{ transaction.closed_date }}</h6>
        <h6>{{ transaction.employee.get_full_name }}</h6>
    </div>
</div>
{% endblock %}

{% block document_body_content %}
<!--Concept Table-->
<div class="row my-4">
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
            <th>{% trans 'Concepts' %}</th>
            <th>{% trans 'Taxable' %}</th>
            <th>{% trans 'Rate' %}</th>
            <th>{% trans 'Tax' %}</th>
            <th>{% trans 'Total' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for concept in transaction.concepts.all %}
        <tr>
            <td class="pl-3">{{ concept.description_short }}</td>
            <td class="text-nowrap">{{ concept.taxable_amount|floatformat:2|intcomma }}</td>
            <td class="text-nowrap">{{ concept.settings.vat_percent }}%</td>
            <td class="text-nowrap">{{ concept.tax_amount|floatformat:2|intcomma }}</td>
            <td class="text-nowrap">
                {% with concept.value as value %}
                {% include 'concepts/value_md.html' %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
        <thead class="thead-light">
        <tr>
            <th colspan="5">{% trans 'Totals' %}</th>
        </tr>
        </thead>
        {% for value in transaction.totals %}
        <tr>
            <td colspan="3" class="pl-3">{% trans 'Total' %} {{ value.currency.name }}</td>
            <td colspan="2" class="text-right text-nowrap">
                {% include 'concepts/value_bold_md.html' %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if transaction.notes %}
<!--Notes-->
<div class="container my-4">
    <p><strong>{% trans 'Notes' %}:</strong></p>
    <p>{{ transaction.notes|default_if_none:"&nbsp;" }}</p>
</div>
{% endif %}

<!--Signatures-->
<div class="row justify-content-end">

    <!--Employee Signature-->
    {% if transaction.employee_signature_required %}
    <div class="col-6">
        <h6>{% trans 'Employee Signature:' %}</h6>
        <div class="border my-1" style="height: 25mm;"></div>
        <h6 class="text-right"><strong>{{ transaction.employee.get_full_name }}</strong></h6>
    </div>
    {% endif %}

    <!--Client Signature-->
    {% if transaction.client_signature_required %}
    <div class="col-6">
        <h6>{% trans 'Client Signature:' %}</h6>
        <div class="border my-1" style="height: 25mm;"></div>
        <h6 class="text-right"><strong>{{ transaction.client|default_if_none:"{% trans 'Client Signature' %}" }}</strong></h6>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block document_footer_message %}
<!--Footer message-->
<div class="row justify-content-center my-2">
    <h5>{% trans 'Thank You, Please Come Again!' %}</h5>
</div>
{% endblock %}
