{% extends "main/base.html" %}
{% block content %}
<p style="margin-top:30px"></p>
<div class="container">
    <h2>{{ header }}</h2>

    <p>{{ total_comments }} comment{% if total_comments > 1 %}s{% endif %} by {{ total_users }} user{% if total_users > 1 %}s{% endif %} from {{ total_videos }} video{% if total_videos > 1 %}s{% endif %}:</p>

    <!-- Filter Form -->
    {% with filter.form.text as search_field %}
    {% include 'main/searchbar.html' %}
    {% endwith %}

    <p style="margin-top:5px;"></p>

    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">
            <a href="{% url 'comment' pk=comment.id %}">{{ comment }}</a></li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        {% include 'main/pagination.html' %}
    {% endif %}

</div>
{% endblock %}