coverage==4.5.2
Django==1.11.15
django-debug-toolbar==1.9.1
django-filter==2.0.0
django-pure-pagination==0.3.0
django-crispy-forms
django-xhtml2pdf
psycopg2==2.7.5
requests==2.19.1
lxml==4.2.4
uwsgi==2.0.17.1
Faker==1.0.2
selenium


