{% load i18n static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>ClickGestion</title>
        {% block meta %}
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'core/img/logo-40x40.png' %}"/>
        <link rel="stylesheet" href="{% static 'core/js/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">


        <style>
            div.to-print * {
                background-color: "blue";
            }
            @media print {
                :not([background-color="blue"]) { color: red; }
            }
        </style>


    </head>
    <body style="overflow-y:scroll;">

        {% include 'core/header.html' %}
        <p style="margin-top:60px"></p>

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>

        <p style="margin-bottom:60px"></p>
        {% include 'core/footer.html' %}

        <script src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'core/js/popper-1.14.4.js' %}"></script>
        <script src="{% static 'core/js/bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
    </body>
</html>
