<thead class="table-warning">
    <tr>
        <th colspan="4" scope="col">{{ breakdown.name }}</th>
    </tr>
</thead>
{% for group in breakdown.groups %}
<thead class="thead-light">
    <tr>
        <th style="text-indent: 5%" scope="col">{{ group.type }}</th>
        <th colspan="3" class="text-right">{{ group.concept_count }}</th>
    </tr>
</thead>
<tbody>
    {% for value in group.totals %}
    <tr>
        <td style="text-indent: 10%">{{ value.currency.name }}</td>
        <td colspan="3" class="text-right">
            {% include 'concepts/value_total.html' %}
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endfor %}
