{% load i18n humanize static %}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ concept.name }} {{ concept.code }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col">
            <!--View Transaction-->
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'transaction_detail' transaction_code=concept.transaction.code %}">
                {% trans 'View The Transaction' %}
            </a>
            <!--View Transaction Concepts-->
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'transaction_concepts' transaction_code=concept.transaction.code %}">
                {% trans 'View All Concepts On The Same Transaction' %}
            </a>
            <!--View Details-->
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{{ concept.url }}">
                {% trans "View The Concept's Details" %}
            </a>
            {% if concept.can_return_deposit %}
            <!--Return This Deposit-->
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'depositreturn_new' concept_code=concept.code %}">
                {% trans "Return The Deposit" %}
            </a>
            {% endif %}
            {% if concept.deposit_return %}
            <!--View The Deposit Return-->
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_row' concept_code=concept.deposit_return.code %}">
                {% trans "View The Deposit Return" %}
            </a>
            {% endif %}
            {% if concept.returned_deposit %}
            <!--View The Deposit Returned-->
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_row' concept_code=concept.returned_deposit.code %}">
                {% trans "View The Deposit Returned" %}
            </a>
            {% endif %}
            {% if concept.can_refund %}
            <!--Refund This Concept-->
            <a class="btn btn-outline-danger btn-large btn-block m-2" href="{% url 'refund_new' concept_code=concept.code %}">
                {% trans "Refund This Concept" %}
            </a>
            {% endif %}
            {% if concept.refund_concept %}
            <!--View The Refund For This Concept-->
            <a class="btn btn-outline-warning btn-large btn-block m-2" href="{% url 'concept_row' concept_code=concept.refund_concept.code %}">
                {% trans "View The Refund" %}
            </a>
            {% endif %}
            {% if concept.refunded_concept %}
            <!--View The Refunded Concept-->
            <a class="btn btn-outline-warning btn-large btn-block m-2" href="{% url 'concept_row' concept_code=concept.refunded_concept.code %}">
                {% trans "View The Refunded Concept" %}
            </a>
            {% endif %}
            {% if not concept.transaction.closed %}
            <!--Delete-->
            <a class="btn btn-outline-danger btn-large btn-block m-2" href="{{ concept.url }}/delete/">
                {% trans "Delete This Concept" %}
            </a>
            {% endif %}
        </div>
    </div>
</div>
