{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<p style="margin-top:40px"></p>
<div class="row mt-5">
    <div class="col col-md-1">
    </div>

    <div class="col col-md-10">

        <!--Table-->
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <div class="row">
                    <div class="col-auto">
                        <h4>{{ header }}</h4>
                    </div>
                    <div class="col-auto">
                        <!-- Button to Open The Filter -->
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modal-filter">
                            {% trans 'Filter' %}
                        </button>
                    </div>
                    <div class="col-auto">
                        {% if is_filtered %}
                        <a class="btn btn-sm btn-outline-danger" href="{{ request.path }}">
                            {% trans 'Clear Filter' %}
                        </a>
                        {% endif %}
                    </div>
                </div>

            <tr>
                <th>{% trans 'Transaction' %}</th>
                <th>{% trans 'Reference' %}</th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Total' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
                {% for concept in concepts %}
                {% include 'concepts/concept_rowitem.html' %}
                {% endfor %}
            </tbody>
        </table>

        <p style="margin-top:20px"></p>

        {% if is_paginated %}
        <div class="row">
            <div class="col">
            {% include 'core/pagination.html' %}
            </div>
        </div>
        {% endif %}

    </div>

    <!--Side Panel-->
    <div class="col col-md-1">
    </div>

    <!-- Modal for filter -->
    <div class="modal" id="modal-filter">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{% trans 'Filter' %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <form method="get">
                            {% crispy filter.form %}
                            <div class="row justify-content-center">
                                <div class="formColumn col-4">
                                    <button class="btn btn-outline-secondary btn-block" type="submit">
                                        {% trans 'Search' %}
                                    </button>
                                </div>
                                {% if is_filtered %}
                                <div class="formColumn col-4">
                                    <a class="btn btn-outline-danger btn-block" href="{{ request.path }}">
                                        {% trans 'Clear Filter' %}
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for actions -->
    <div class="modal fade" id="modal-actions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'Actions' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
