{% extends "core/base.html" %}
{% load crispy_forms_tags i18n humanize %}


{% block content %}
<div class="container">
    <p style="margin-top:20px"></p>
    <h4>{{ concept.name }}</h4>
    <p style="margin-top:20px"></p>
    <div class="container">
        <div class="row">
            {% if transaction.closed %}
            <h6>{% trans 'Transaction' %} {{ transaction.code }} {% trans 'closed' %} {{ transaction.closed_date|naturaltime }}</h6>
            {% else %}
            <h6>{% trans 'Transaction' %} {{ transaction.code }} {% trans 'opened' %} {{ transaction.created|naturaltime }}</h6>
            {% endif %}
        </div>
    </div>
    <p style="margin-top:20px"></p>
    <form method="post">
    {% crispy form %}
    <p style="margin-top:50px"></p>
    {% if transaction.closed %}
        <button type="button" class="btn btn-secondary col-2" title="{% trans 'Click to go back' %}" onclick="window.history.back();return false;">{% trans 'Back' %}</button>
    {% else %}
        <input type="submit" value="{% trans 'Save' %}" class="btn btn-secondary col-2"/>
        <a class="btn btn-danger col-2" href="{% url 'transaction_edit' transaction_code=transaction.code %}">{% trans 'Cancel' %}</a>
    {% endif %}
    </form>
</div>
{% endblock %}
