{% load i18n %}
<tr>
    <!--TRANSACTION-->
    <th>
        <a class="btn-link text-dark" href="{% url 'transaction_row' transaction_code=concept.transaction.code %}">
            {{ concept.transaction.code }}
        </a>
    </th>

    <!--NAME-->
    <td>{{ concept.name|default_if_none:"&nbsp;" }}</td>

    <!--DESCRIPTION-->
    <td>{{ concept.description_short|default_if_none:"&nbsp;" }}</td>

    <!--DATE-->
    <td>{{ concept.transaction.closed_date|default_if_none:"&nbsp;" }}</td>

    <!--VALUE-->
    <td>
        <div class="col text-right justify-content-end">
            {% with concept.value as value %}{% include 'concepts/value_sm.html' %}{% endwith %}
        </div>
    </td>

    <!--ACTIONS-->
    <td>
        {% if concept.transaction.closed %}
        <a class="badge badge-warning ml-2" href="/concepts/{{ concept.code }}/return/">
            {% trans 'Return' %}
        </a>
        <a class="badge badge-danger ml-2" href="/concepts/{{ concept.code }}/refund">
            {% trans 'Refund' %}
        </a>
        {% else %}
        <a class="badge badge-danger ml-2" href="/concepts/{{ concept.code }}/delete/">
            {% trans 'Delete' %}
        </a>
        {% endif %}
        <a class="badge badge-secondary ml-2" href="#" data-toggle="modal" data-target="#actions-{{ concept.code }}">
        {% trans 'More' %}
        </a>
    </td>

    <!-- Modal -->
    <div class="modal fade" id="actions-{{ concept.code }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ concept.name }} {{ concept.code }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-3">
                  </div>
                  <div class="col-6">
                      <a class="btn btn-outline-primary btn-large btn-block m-2" href="{% url 'transaction_detail' transaction_code=concept.transaction.code %}">{% trans 'View The Transaction' %}</a>
                      <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'transaction_concepts' transaction_code=concept.transaction.code %}">{% trans 'View All Concepts On The Same Transaction' %}</a>
                      <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_detail' concept_code=concept.code %}">{% trans "View The Concept's Details" %}</a>
                      <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'deposit_return' concept_code=concept.code %}">{% trans "Return The Deposit" %}</a>
                      <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_refund' concept_code=concept.code %}">{% trans "Refund This Concept" %}</a>
                      <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_delete' concept_code=concept.code %}">{% trans "Delete This Concept" %}</a>
                  </div>
                  <div class="col-3">
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>


</tr>
