{% load i18n humanize static %}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ concept.name }} {{ concept.code }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col">
            <!--View Transaction-->
            <a class="btn btn-outline-primary btn-large btn-block m-2" href="{% url 'transaction_detail' transaction_code=concept.transaction.code %}">
                {% trans 'View The Transaction' %}
            </a>
            <!--View Transaction Concepts-->
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'transaction_concepts' transaction_code=concept.transaction.code %}">
                {% trans 'View All Concepts On The Same Transaction' %}
            </a>
            <!--View Details-->
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_detail' concept_code=concept.code %}">
                {% trans "View The Concept's Details" %}
            </a>
            <!--Return Deposit-->
            {% if concept.can_return_deposit %}
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'depositreturn_new' concept_code=concept.code %}">
                {% trans "Return The Deposit" %}
            </a>
            {% endif %}
            <!--View Deposit Return-->
            {% if concept.deposit_return %}
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_row' concept_code=concept.deposit_return.code %}">
                {% trans "View The Deposit Return" %}
            </a>
            {% endif %}
            <!--Refund Concept-->
            {% if concept.can_refund %}
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'refund_new' concept_code=concept.code %}">
                {% trans "Refund This Concept" %}
            </a>
            {% endif %}
            <!--View Refund-->
            {% if concept.refund_concept %}
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_row' concept_code=concept.refund_concept.code %}">
                {% trans "View The Refund" %}
            </a>
            {% endif %}
            <!--Delete-->
            {% if not concept.transaction.closed %}
            <a class="btn btn-outline-secondary btn-large btn-block m-2" href="{% url 'concept_delete' concept_code=concept.code %}">
                {% trans "Delete This Concept" %}
            </a>
            {% endif %}
        </div>
    </div>
</div>
