{% load i18n %}
<tr>
    <!--TRANSACTION-->
    <th>
        <a class="btn-link text-dark" href="{% url 'transaction_row' transaction_code=concept.transaction.code %}">
            {{ concept.code }}
        </a>
    </th>

    <!--APT-->
    <td>{{ concept.transaction.apt_number|default_if_none:"&nbsp;" }}</td>

    <!--NAME-->
    <td>{{ concept.transaction.client|default_if_none:"&nbsp;" }}</td>

    <!--DESCRIPTION-->
    <td>{{ concept.description_short|default_if_none:"&nbsp;" }}</td>

    <!--START DATE-->
    <td>{{ concept.start_date|default_if_none:"&nbsp;" }}</td>

    <!--END DATE-->
    <td>{{ concept.end_date|default_if_none:"&nbsp;" }}</td>

    <!--VALUE-->
    <td>
        <div class="col text-right justify-content-end">
            {% with concept.value as value %}{% include 'concepts/value_sm.html' %}{% endwith %}
        </div>
    </td>

    <!--ACTIONS-->
    <td>
        {% if concept.transaction.closed %}

            {% if concept.can_return_deposit and request.session.depositreturn_transaction_code %}
            <a class="badge badge-warning ml-2" href="{% url 'depositreturn_new' concept_code=concept.code %}">
                {% trans 'Return' %}
            </a>
            {% endif %}

            {% if concept.can_refund and request.session.refund_transaction_code %}
            <a class="badge badge-danger ml-2" href="/concepts/{{ concept.code }}/refund">
                {% trans 'Refund' %}
            </a>
            {% endif %}

        {% else %}

            <a class="badge badge-danger ml-2" href="{{ concept.url }}/delete/">
                {% trans 'Delete' %}
            </a>

        {% endif %}

        <a class="badge badge-secondary ml-2" href="#" data-remote="{% url 'concept_actions' concept_code=concept.code %}" data-toggle="modal" data-target="#modal-actions">
        {% trans 'View Actions' %}
        </a>
    </td>


</tr>
