{% load main_template_tags %}
{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item "><a class="page-link" href="?{% update_query_params request page=page_obj.previous_page_number %}">&laquo;</a></li>
    {% else %}

        <li class="page-item disabled"><span class="page-link disabled">&laquo;</span></li>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="page-item"><a class="page-link text-body bg-secondary" href="?{% update_query_params request page=page %}">{{ page }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?{% update_query_params request page=page %}">{{ page }}</a></li>
            {% endifequal %}
        {% else %}
            <li class="page-item disabled"><a class="page-link" href=''>...</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?{% update_query_params request page=page_obj.next_page_number %}">&raquo;</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link disabled">&raquo;</span></li>
    {% endif %}
</div>
