{% load i18n humanize static %}
<!-- Modal Header -->
<div class="modal-header" style="overflow-x: auto; max-width: 23cm;">
    <!--Print button-->
    <a class="btn btn-sm btn-outline-secondary m-1" onclick='printElement("document-a4");' title="{% trans 'Print' %}">
        {% trans 'Print' %}
    </a>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="row justify-content-center">
        {% include 'cash_desk/cashclose_document_a4.html' %}
    </div>
</div>