{% load i18n %}
<tr>
    <!--CODE-->
    <td>
        <button data-remote="{% url 'cashclose_document' cashclose_code=cashclose.code %}" class="btn btn-link text-dark" type="button" data-toggle="modal" data-target="#modal-printable-a4">
            {{ cashclose.code }}
        </button>
    </td>

    <!--DATE-->
    <td>
        {{ cashclose.created|default_if_none:"&nbsp;" }}
    </td>

    <!--EMPLOYEE-->
    <td>{{ cashclose.employee|default_if_none:"&nbsp;" }}</td>

    <!--NOTES-->
    <td>{{ cashclose.notes|default_if_none:"&nbsp;" }}</td>

    <!--BALANCE-->
    <td>
        <div class="container">
            {% for value in cashclose.balance %}
            <div class="row justify-content-end">
                {% include 'concepts/value_bold_sm.html' %}
            </div>
            {% endfor %}
        </div>
    </td>

    <!--DEPOSITS-->
    <td>
        <div class="container">
            {% for value in cashclose.deposits_in_holding_totals %}
            <div class="row justify-content-end">
                {% include 'concepts/value_bold_sm.html' %}
            </div>
            {% endfor %}
        </div>
    </td>
</tr>
