{% extends 'core/document_a4.html' %}
{% load i18n humanize static %}

{% block document_header_title %}
<h3><strong>{{ transaction.title }}</strong></h3>
{% endblock %}

{% block document_body_top_left %}
{% endblock %}

{% block document_body_top_right %}
<!--Top Right-->
<div class="row justify-content-end">
    <div class="col text-right">
        <h6><strong>{{ cashclose.code }}</strong></h6>
        <h6>{{ cashclose.created }}</h6>
        <h6>{{ cashclose.employee.get_full_name }}</h6>
    </div>
</div>
{% endblock %}

{% block document_body_content %}
<!-- Table-->
<div class="row my-4">
                 <table class="table table-bordered table-sm">

                 <!--Cash Balance-->
                 <thead class="table-warning">
                 <tr>
                 <th colspan="4">{% trans 'Cash Balance' %}</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for value in cashclose.balance %}
                 <tr>
                 <td style="text-indent: 10%">{{ value.currency.name }}</td>
                 <td colspan="3" class="text-right">
                 {% include 'concepts/value_total.html' %}
                 </td>
                 </tr>
                 {% endfor %}
                 </tbody>

                 <!--Breakdowns-->
                 {% for breakdown in cashclose.breakdowns %}
                 {% include 'concepts/breakdown_rows.html' %}
                 {% endfor %}


                 </table>
                 </div>
{% endblock %}

{% block document_footer_message %}
{% endblock %}
