{% load i18n humanize static %}
<div id="print-{{ cashclose.code }}" class="border p-5" style="width: 210mm; min-height: 297mm;">
<div class="container-fluid">

    <!--Header-->
    <div class="row">
        <div class="col p-0">
            <img src="{% static 'core/img/clickbenidormlogo1.png' %}">
        </div>
        <div class="row justify-content-end">
            <div class="col text-right">
                <h3><strong>{% trans 'Cash Desk Close' %}</strong></h3>
            </div>
        </div>
    </div>
    <p></p>

    <!--First Data Row-->
    <div class="row my-4">

        <!--Left-->
        <div class="col">
            <div class="row">
                <strong>
                </strong>
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>

        <!--Right-->
        <div class="row justify-content-end">
            <div class="col text-right">
                <h6><strong>{{ cashclose.code }}</strong></h6>
                <h6>{{ cashclose.created }}</h6>
                <h6>{{ cashclose.employee.get_full_name }}</h6>
            </div>
        </div>
    </div>

    <p></p>

    <!-- Table-->
    <div class="row my-4">
    <table class="table table-bordered table-sm">

        <!--Cash Balance-->
        <thead class="table-warning">
            <tr>
                <th colspan="4">{% trans 'Cash Balance' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for value in totals %}
            <tr>
                <td></td>
                <td>{{ value.currency.name }}</td>
                <td></td>
                <td class="text-right">
                    {% include 'concepts/value_total.html' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

        <!-- Deposits In Holding-->
        <thead class="table-warning">
        <tr>
            <th colspan="4" scope="col">{% trans 'Deposits In Holding' %}</th>
        </tr>
        </thead>
        {% for group in deposits %}
        <thead class="thead-light">
        <tr>
            <th colspan="4" scope="col">{{ group.type }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>{% trans 'Number of concepts' %}</td>
            <td></td>
            <td class="text-right">
                {{ group.concept_count }}
            </td>
        </tr>
        {% for value in group.totals %}
        <tr>
            <td></td>
            <td>{{ value.currency.name }}</td>
            <td></td>
            <td class="text-right">
                {% include 'concepts/value_total.html' %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        {% endfor %}

        <!--Breakdown by concept-->
        <thead class="table-warning">
            <tr>
                <th colspan="4" scope="col">{% trans 'Breakdown By Concept Type' %}</th>
            </tr>
        </thead>
        {% for group in breakdown %}
        <thead class="thead-light">
            <tr>
                <th colspan="4" scope="col">{{ group.type }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>{% trans 'Number of concepts' %}</td>
                <td></td>
                <td class="text-right">
                    {{ group.concept_count }}
                </td>
            </tr>
            {% for value in group.totals %}
            <tr>
                <td></td>
                <td>{{ value.currency.name }}</td>
                <td></td>
                <td class="text-right">
                    {% include 'concepts/value_total.html' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}


    </table>
    </div>

    <!--Thank you-->
    <div class="row justify-content-center my-5">
        <h5>{% trans 'Thank You' %}</h5>
    </div>
</div>
</div>
